:root{
--Blue: hsl(246, 80%, 60%);
--Light-red-work: hsl(15, 100%, 70%);
--Soft-blue-play: hsl(195, 74%, 62%);
--Light-red-study: hsl(348, 100%, 68%);
--Lime-green-exercise: hsl(145, 58%, 55%);
--Violet-social: hsl(264, 64%, 52%);
--Soft-orange-self-care: hsl(43, 84%, 65%);
--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
--Main-Blue: #000550; 
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    /* Font size: 18px (card titles e.g. Work, Play) */
}

body{
    background-color: var(--Dark-blue);
    padding: 6rem 2rem;
    color: white;
    font-size: 1.8rem;
}

.wrapper{
    gap: 2rem;
    display: grid;
    grid-template-areas: 
    "main"
    "work"
    "play"
    "study"
    "exercise"
    "social"
    "self-care";
    ;
}

.main{
    grid-area: main;
    background-color: var(--Main-Blue);
    height: 20.5rem;
    width: 33rem;
    border-radius: 2rem;
}

.name{
    background-color: var(--Blue);
    font-size: 1.3rem;
    display: flex;
    height: 13.5rem;
    border-radius: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.name picture img{
    width: 6rem;
    border: .3rem solid white;
    border-radius: 50%;
}

.name p{
    font-size: 1.65rem;
    opacity: .50;
}

.period{
    display: flex;
    width: 100%;
    place-content: center;
    margin-top: 2.5rem;
    justify-content: space-around;
    color: var(--Pale-Blue);
}

.period span:hover{
    cursor: pointer;
    color: white;
}

.hrs{
    font-size: 4rem;
}

.last-week{
    opacity: .50;
}

.work{
    grid-area: work;
    background-color: var(--Light-red-work);
    height: 20.5rem;
    width: 33rem;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}

.work img{
    position: absolute;
    top: -1rem;
    right: 1rem;
}

.work-content{
    width: 100%;
    height: 90%;
    margin-top: 4rem;
    background-color: var(--Main-Blue);
    border-radius: 2rem;
    padding: 3rem;
    position: relative;
}

.work-row1{
    display: flex;
    justify-content: space-between;
}

.work-row1 img{
    width: 2rem;
    color: white;
    position: absolute;
    top: 25%;
    right: 10.5%;
}

.work-row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play{
    grid-area: play;
    background-color: var(--Soft-blue-play);
    padding: 2rem;
    height: 20.5rem;
    width: 33rem;
}

.study{
    grid-area: study;
    background-color: var(--Light-red-study);
    padding: 2rem;
    height: 20.5rem;
    width: 33rem;
}

.exercise{
    grid-area: exercise;
    background-color: var(--Lime-green-exercise);
    padding: 2rem;
    height: 20.5rem;
    width: 33rem;
}

.social{
    grid-area: social;
    background-color: var(--Violet-social);
    padding: 2rem;
    height: 20.5rem;
    width: 33rem;
}

.self-care{
    grid-area: self-care;
    background-color: var(--Soft-orange-self-care);
    padding: 2rem;
    height: 20.5rem;
    width: 33rem;
}








.attribution{ 
    font-size: 11px; text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}